// font
$roboto: 'Roboto', sans-serif;

// color
$black: #000;
$blue: #4B51EF;
$green: #52CF4F;
$grey: #AFAFAF;
$grey-light: #D8D8D8;
$grey-dark: #A3A3A3;
$grey-shadowy: #BDBDBD;
$white: #fff;
$white-light: #F0F0F0;
$white-dark: #F3F3F3;